@font-face {
  font-family: "PTMono-Regular"; /* monospace, monospace;  */
  src: url("../fonts/PTMono/PTMono-Regular.woff2") format("woff2");
}

.article__code-block {
  box-sizing: content-box;
  font-family: "PTMono-Regular", Consolas, monospace, monospace;
  font-size: var(--font-step--1);
  display: inline-grid;
  grid-template-areas: "line-numbers code";
  grid-template-columns: min-content auto;
  width: 100%;
  line-height: 1.2;
  margin-bottom: 15px;
  /* background-color:red; */
}

.code-block__line-numbers {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; 
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
  color: rgb(70,70,70);
  background-color:  rgb(32, 34, 42);
  width: min-content;
  height: 100%;
  grid-area: line-numbers;
  display: block;
  padding: 10px 10px 10px 10px;
  border-radius: 10px 0 0 10px;
}

.code-block {
  text-overflow: clip;
  overflow-x: auto;       /* Since CSS 2.1 */
  
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: linear-gradient(180deg, rgb(37, 39, 47), rgb(42, 44, 52));
  grid-area: code;
  width: 100%;
  height: 100%;
  padding: 10px 15px 10px 5px;
  border-radius: 0 10px 10px 0;
}

.CPP_PREPROCESSOR {
  color: #23a7c5;
}

/* --- Scrollbar ----------------------------- */
/* width */
.code-block::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.code-block::-webkit-scrollbar-track {
  background: rgb(42, 44, 52);
}

/* Handle */
.code-block::-webkit-scrollbar-thumb {
  background: rgb(67, 70, 82);
  border-radius: 5px;
  border: 2px solid rgb(42, 44, 52);
}

/* Handle on hover */
.code-block::-webkit-scrollbar-thumb:hover {
  background: rgb(87, 90, 102);
}