.notepad {
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: 220px auto;
  min-height: 100vh;
}

.header {
  grid-area: 1 / 2 / span 1 / span 1;
  
  display:flex;
  flex-wrap: nowrap;
  
  align-content: flex-end;

  &__note-info {
    margin-top: auto;
  }
}

.note-menu {
  grid-area: 2 / 1 / span 1 / span 1;
}

.note {
  grid-area: 2 / 2 / span 1 / span 1;
}

.top-left-arrow {
  grid-area: 1 / 1 / span 1 / span 1;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 0 0;
  border-color: rgb(200, 200, 200) transparent transparent transparent;
}