@use "../../abstract/mixins" as mixin;
@use "../../settings/variables" as gvar;

/* --- Unchanging ----------------------------- */

.main-nav {
  &__list {
    height: 10px;
  }

  &__item {
    //style
    width: auto; 
    height: 2em;
    transition-duration: 0.2s;

    &-link {
      //style
      color: var(--invisible-font-color);
      text-decoration: none;
      margin:0 0;
      display: block;
      width: auto;
      height: 100%;
      text-overflow: ellipsis;
      overflow: hidden; 
      white-space: nowrap;
      transition-duration: 0.2s;

      //MODIFICATORS
      &--active {
        color: var(--visible-font-color);
      }

      &:hover {
        color: var(--visible-font-color);
      }
    }
  }
  

}


/* --- Phone ---------------------------------- */
@include mixin.media-min("phone") {



}

/* --- Tablet --------------------------------- */
@include mixin.media-min("tablet") {



}

/* --- Desktop -------------------------------- */
@include mixin.media-min("desktop") {

}